{% extends 'base.html' %}



{% block title %}

Category - PickUp

{% endblock %}






{% block content %}



<div class="container mt-5">



<!-- Heading -->


<div class="text-center mb-5">


<h1 class="fw-bold">

Shop By Category

</h1>


<p class="text-muted">

Explore products from different categories at PickUp

</p>


</div>






<div class="row">





<!-- Electronics -->


<div class="col-md-3 mb-4">


<div class="card shadow h-100">


<img src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853"

class="card-img-top"

height="220">



<div class="card-body text-center">


<h5>

Electronics

</h5>


<p>

Mobiles, laptops, headphones and smart gadgets.

</p>



<a href="{% url 'product' %}"

class="btn btn-primary">


Explore


</a>


</div>


</div>


</div>







<!-- Fashion -->


<div class="col-md-3 mb-4">


<div class="card shadow h-100">


<img src="https://images.unsplash.com/photo-1445205170230-053b83016050"

class="card-img-top"

height="220">



<div class="card-body text-center">


<h5>

Fashion

</h5>


<p>

Latest clothes, shoes and accessories.

</p>



<a href="{% url 'product' %}"

class="btn btn-primary">


Explore


</a>


</div>


</div>


</div>







<!-- Home -->


<div class="col-md-3 mb-4">


<div class="card shadow h-100">


<img src="https://images.unsplash.com/photo-1618221195710-dd6b41faaea6"

class="card-img-top"

height="220">



<div class="card-body text-center">


<h5>

Home & Living

</h5>


<p>

Furniture, kitchen and home products.

</p>



<a href="{% url 'product' %}"

class="btn btn-primary">


Explore


</a>


</div>


</div>


</div>







<!-- Beauty -->


<div class="col-md-3 mb-4">


<div class="card shadow h-100">


<img src="https://images.unsplash.com/photo-1596462502278-27bfdc403348"

class="card-img-top"

height="220">



<div class="card-body text-center">


<h5>

Beauty

</h5>


<p>

Beauty products and personal care items.

</p>



<a href="{% url 'product' %}"

class="btn btn-primary">


Explore


</a>


</div>


</div>


</div>






</div>








<!-- Extra Categories -->


<div class="row mt-4">






<div class="col-md-4 mb-4">


<div class="card shadow text-center p-4">


<h4>

Sports

</h4>


<p>

Sports equipment and fitness products.

</p>


</div>


</div>






<div class="col-md-4 mb-4">


<div class="card shadow text-center p-4">


<h4>

Grocery

</h4>


<p>

Daily essentials delivered quickly.

</p>


</div>


</div>






<div class="col-md-4 mb-4">


<div class="card shadow text-center p-4">


<h4>

Accessories

</h4>


<p>

Bags, watches and lifestyle products.

</p>


</div>


</div>





</div>






</div>




{% endblock %}