{% extends 'base.html' %}



{% block title %}

Verify OTP

{% endblock %}






{% block content %}

{% include 'page_header.html' with page_title='Verify OTP' page_description='Enter the verification code sent to your email' %}

<div class="container mt-5">


<div class="row justify-content-center">


<div class="col-md-5">



<div class="card shadow">



<div class="card-header bg-primary text-white text-center">


<h4>

Verify Email

</h4>


</div>




<div class="card-body">



<form method="POST">


{% csrf_token %}



<div class="mb-3">


<label>

Enter OTP

</label>


<input

type="text"

name="otp"

class="form-control"

placeholder="Enter OTP"

required>



</div>



<button class="btn btn-primary w-100">


Verify OTP


</button>



</form>



</div>


</div>



</div>


</div>


</div>




{% endblock %}