{% extends 'base.html' %}


{% block title %}
Wishlist - PickUp
{% endblock %}



{% block content %}

{% include 'page_header.html' with page_title='My Wishlist' page_description='Your favorite items saved for later' %}

<div class="container mt-5">

<div class="card shadow p-4 mt-3">


<p>
No products added to wishlist yet.
</p>


<a href="{% url 'product' %}"
class="btn" style="background-color: #FF6600; color: white; font-weight: 600;">

Explore Products

</a>


</div>


</div>


{% endblock %}